{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <div class="card auth-card">
    <div class="card-content">
      <p class="title">
        Create an Account
      </p>
      <form method="post">
        <dl>
          {{ render_field(form.email, class='input') }}
          {{ render_field(form.password, class='input') }}
          {{ render_field(form.confirm_password, class='input') }}
          {{ render_field(form.recaptcha) }}
          {{ form.hidden_tag() }}
        </dl>
        <p><input class="button is-link" type="submit" value="Create Your Account">
      </form>
    </div>
  </div>
{% endblock %}