{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block header %}
  Your Domains
{% endblock %}

{% block content %}
  <section id="domains">
    <div class="list is-hoverable">
    {% for domain in domains %}
      <a class="list-item" href="{{ url_for('dashboard.domain_detail', did=domain.did) }}">{{ domain.domain_name }}</a>
    {% endfor %}
    </div>
    <a class="button is-link" href="{{ url_for('dashboard.add_domain') }}">Add a Domain</a>
  </section>
{% endblock %}

