{% extends 'base.html' %}

{% block title %}
Domain Detail
{% endblock %}

{% block header %}
  {{ domain.domain_name }}
{% endblock %}

{% block content %}
  {% if keys != None %}
  <h2 class="title is-4">Keys</h2>
  <ul>
    {% for key in keys %}
      <div class="card is-inline-block mb-1">
        <div class="card-content">
          <li id="{{ key.uuid }}">
            <p class="domain-key">{{ key.uuid }} <button class="button is-link ml-1" onclick="toggleKeyDetails('{{ key.uuid }}')">more</button></p>
            <pre hidden class="mb-1 mt-1"><code>&lt;script id="applause-script"
            src="https://static.applauseapp.io/js/applause_script.js" 
            data-key="{{ key.uuid }}"&gt;&lt;/script&gt;</code></pre>
            <form hidden method="post" action="/my/delete_key">
              <dl>
                <input type="hidden" name="uuid" value="{{ key.uuid }}">
                <input type="hidden" name="did" value="{{ domain.did }}">
                {{ delete_key_form.hidden_tag() }}
              </dl>
              <p class="has-text-right"><input class="button is-danger" type="submit" value="Delete Key">
            </form>
          </li>
        </div>
      </div>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" action="/my/add_key">
    <dl>
      <input type="hidden" name="did" value="{{ domain.did }}">
      {{ add_key_form.hidden_tag() }}
    </dl>
    <input class="button is-link" type="submit" value="New Key">
  </form>
{% endblock %}

{% block scripts %}
<script src="https://static.applauseapp.io/js/domain_detail.js"></script>
{% endblock %}