{% extends 'base.html' %}

{% block title %}
Domain Detail
{% endblock %}

{% block header %}
  {{ domain.domain_name }}
{% endblock %}

{% block content %}
  <form method="GET" action="/my/domain_detail" class="mb-1" id="time-form">
    <input type="hidden" name="did" value="{{ domain.did }}">
    <label class="is-inline-block" class="label">Show data from</label>
    <div class="control is-inline-block">
      <div class="select is-rounded">
        <select name="time" form="time-form" onchange="this.form.submit()">
          <option value="all_time"   {% if time == "all_time" %}  selected{% endif %}>All Time</option>
          <option value="this_month" {% if time == "this_month" %}selected{% endif %}>This Month</option>
          <option value="this_week"  {% if time == "this_week" %} selected{% endif %}>This Week</option>
        </select>
      </div>
    </div>
  </form>
  {% include 'dashboard/domain_summary.html' %}
  {% include 'dashboard/domain_pages.html' %}
  {% include 'dashboard/domain_referrers.html' %}
  
  <div class="box">
    <h2 class="title is-4">Keys</h2>
    {% if keys != None %}
    <ul>
      {% for key in keys %}
      <div class="card is-inline-block mb-1">
        <div class="card-content">
          <li id="{{ key.uuid }}">
            <p class="domain-key">{{ key.uuid }} <button class="button is-link ml-1" onclick="toggleKeyDetails('{{ key.uuid }}')">more</button></p>
            <pre hidden class="mb-1 mt-1"><code>&lt;script id="applause-script"
            src="https://static.applauseapp.io/js/applause_script.js" 
            data-key="{{ key.uuid }}"&gt;&lt;/script&gt;</code></pre>
            <form hidden method="post" action="/my/delete_key">
              <dl>
                <input type="hidden" name="uuid" value="{{ key.uuid }}">
                <input type="hidden" name="did" value="{{ domain.did }}">
                {{ delete_key_form.hidden_tag() }}
              </dl>
              <p class="has-text-right"><input class="button is-danger" type="submit" value="Delete Key">
            </form>
          </li>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="/my/add_key">
      <dl>
        <input type="hidden" name="did" value="{{ domain.did }}">
        {{ add_key_form.hidden_tag() }}
      </dl>
      <input class="button is-link" type="submit" value="New Key">
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://static.applauseapp.io/js/domain_detail.js"></script>
{% endblock %}